<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" style="margin: 5%">
    <%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <%= f.text_field :username, placeholder: "Username" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.phone_field :phone, placeholder: "Phone" %>
    <%= f.text_field :location, placeholder: "Location" %>
    <%= f.check_box :photographer %>
    <%= f.submit "Create" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
